Source: aesgcm
Section: utils
Priority: extra
Maintainer: Marcos Del Sol Vives <marcos@orca.pet>
Build-Depends: debhelper (>=10)
Standards-Version: 4.0.0
Vcs-Git: git@github.com:socram8888/aesgcm.git
Vcs-Browser: https://github.com/socram8888/aesgcm

Package: aesgcm
Section: utils
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tool for encryting and decrypting using AES-GCM
 This package includes the aesgcm tool, which is a simple, lightweight,
 dependency-free cryptographic tool built around the AES-GCM construction.
 .
 The AES-GCM construction ensures lightning fast encryption in AES-NI-enabled
 systems. The total overhead is small at only 32 extra bytes, consisting of
 a random salt for derivation and the MAC for authentication.
 .
 As opposed to other tools, it is suitable for encrypting not only from files
 but also for streams with unknown length (such as a pipe from tar),
 ensuring that sensitive data is not stored in plaintext at any moment.
